<div id="auth">

<form class="simple-form">                
    <table class="table">           
      <tbody>             
        <tr>
          <td>Utilisateur</td>      
          <td><input type="text" ng-model="user" class="input-medium"/></td>             
        </tr>
        <tr>      
          <td>Mot de passe</td>      
          <td><input type="password" ng-model="password" class="input-medium"/></td>             
        </tr>           
      </tbody>         
    </table>         
    <a href="" ng-click="check()" class="btn btn-medium btn-primary"> Go !</a> 
    <br><b>{{message}}</b>                                                                          
  </form>   

</div>